# Importing...

In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
penguins = sns.load_dataset("penguins")

# Numerical vs Categorical bivariate analysis...

In [5]:
penguins.groupby('species').mean()

           bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
species
Adelie          38.791391      18.346358         189.953642  3700.662252
Chinstrap       48.833824      18.420588         195.823529  3733.088235
Gentoo          47.504878      14.982114         217.186992  5076.016260

It looks like the species of penguin has an effect on every aspect of it; some have a